name: Build

on:
  push:
  workflow_dispatch:

jobs:
  semver:
    runs-on: ubuntu-latest
    environment: 
      name: main
    outputs:
      GITVERSION_SEMVER: ${{ steps.output1.outputs.GITVERSION_SEMVER }}
      GITVERSION_ASSEMBLYSEMVER: ${{ steps.output1.outputs.GITVERSION_ASSEMBLYSEMVER }}
      GITVERSION_MAJORMINORPATCH: ${{ steps.output1.outputs.GITVERSION_MAJORMINORPATCH }}
      GITVERSION_MAJOR: ${{ steps.output1.outputs.GITVERSION_MAJOR }}
      GITVERSION_MINOR: ${{ steps.output1.outputs.GITVERSION_MINOR }}
      GITVERSION_PATCH: ${{ steps.output1.outputs.GITVERSION_PATCH }}
      APP_VERSION_MACOS: ${{ steps.output1.outputs.APP_VERSION_MACOS }}
      APP_VERSION_DEBIAN: ${{ steps.output1.outputs.APP_VERSION_DEBIAN }}
      APP_VERSION_WINDOWS: ${{ steps.output1.outputs.APP_VERSION_WINDOWS }}
      JPACKAGE_VERBOSE_OPTION: ${{ steps.output1.outputs.JPACKAGE_VERBOSE_OPTION == '' && null || steps.output1.outputs.JPACKAGE_VERBOSE_OPTION }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0

      - name: "Verify variables"
        id: output1
        run: |
          set -x
          set | grep GITVERSION | sort
          echo "GITVERSION_SEMVER=${GitVersion_SemVer}" >> "$GITHUB_OUTPUT"
          echo "GITVERSION_ASSEMBLYSEMVER=${GitVersion_AssemblySemVer}" >> "$GITHUB_OUTPUT"
          echo "GITVERSION_MAJORMINORPATCH=${GitVersion_MajorMinorPatch}" >> "$GITHUB_OUTPUT"
          echo "GITVERSION_MAJOR=${GitVersion_Major}" >> "$GITHUB_OUTPUT"
          echo "GITVERSION_MINOR=${GitVersion_Minor}" >> "$GITHUB_OUTPUT"
          echo "GITVERSION_PATCH=${GitVersion_Patch}" >> "$GITHUB_OUTPUT"
          if [ "${GitVersion_Major}" == "0" ]
          then
            echo "APP_VERSION_MACOS=1.${GitVersion_Minor}.${GitVersion_Patch}" >> "$GITHUB_OUTPUT"
          else
            echo "APP_VERSION_MACOS=${GitVersion_MajorMinorPatch}" >> "$GITHUB_OUTPUT"
          fi
          echo "APP_VERSION_DEBIAN=${GitVersion_MajorMinorPatch}" >> "$GITHUB_OUTPUT"
          echo "APP_VERSION_WINDOWS=${GitVersion_MajorMinorPatch}" >> "$GITHUB_OUTPUT"
          if [ '${{ vars.JPACKAGE_VERBOSE }}' == 'true' ]; then
            echo "JPACKAGE_VERBOSE_OPTION=--verbose" >> "$GITHUB_OUTPUT"
          else
            echo "JPACKAGE_VERBOSE_OPTION=" >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: semver
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with gradle
        run: |
          set -x
          printenv | sort
          ./gradlew "-Pversion=${{ needs.semver.outputs.GITVERSION_SEMVER }}" --info build

      - name: Check after gradle build
        run: |
          find .

      - uses: actions/upload-artifact@v4
        with:
          name: settlers-installer-generic
          path: ./app/build/distributions/*

  package-Debian:
    needs:
      - semver
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDKs
        uses: actions/setup-java@v3
        with:
          java-version: |
            17
            25
          distribution: 'temurin'

      - name: Download settlers-installer-generic
        uses: actions/download-artifact@v4
        with:
          name: settlers-installer-generic
          path: app/build/distributions

      - name: Check after download
        run: |
          find .

      - name: Prepare app-image for JPackage
        run: |
          set -x
          echo --Preparing directories
          mkdir -p app/build/resources/jpackage || exit 1
          cp app/src/jpackage/resources/* app/build/resources/jpackage || exit 1
          mkdir -p app/build/jpackage_input || exit 1
          pushd .; cd app/build/jpackage_input; unzip ../distributions/*.zip; popd

      - name: Prepare app-image using JPackage
        run: |
          set -x
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_25_${RUNNER_ARCH}
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage \
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} \
            --type app-image \
            --dest app/build/app-image \
            -i "app/build/jpackage_input/app-${{ needs.semver.outputs.GITVERSION_SEMVER }}/lib" \
            --main-jar "app-${{ needs.semver.outputs.GITVERSION_SEMVER }}.jar" \
            --main-class settlers.installer.App \
            --name SettlersRemake \
            --app-version "${{ needs.semver.outputs.APP_VERSION_DEBIAN }}" \
            --vendor Hiran \
            --icon "./app/src/main/resources/images/siedler3-helme-logo.png" \
            --resource-dir "app/build/resources/jpackage" \
            --jlink-options "--strip-debug --no-man-pages --no-header-files" \

      - name: Check after prepare app-image
        run: |
          set -x
          find .

      - name: Modify app-image
        run: |
          set -x
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_17_${RUNNER_ARCH}
          JAVA_HOME=${!JAVA_HOME_ENV_VAR_NAME} ./gradlew "-Pversion=${{ needs.semver.outputs.GITVERSION_SEMVER }}" --info filterResourcesCopy2 jpackageInterfere

      - name: Check after modification app-image
        run: |
          set -x
          find .

      - name: Build Debian package
        run: |
          set -x
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_25_${RUNNER_ARCH}
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage --version
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage \
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} \
            --app-image app/build/app-image/SettlersRemake \
            --dest app/build/distributions \
            --resource-dir app/build/resources/jpackage \
            --linux-package-deps "unshield, wmctrl, dir2ogg" \
            --linux-app-category games \
            --description 'Settlers 3 remake - see https://github.com/HiranChaudhuri/settlers-installer'

      - name: Check after building debian package
        run: |
          set -x
          find .

      - uses: actions/upload-artifact@v4
        with:
          name: SettlersRemake-Debian
          path: |
            app/build/distributions/settlersremake_*.deb

  package-Windows:
    needs:
      - semver
      - build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDKs
        uses: actions/setup-java@v3
        with:
          java-version: |
            17
            25
          distribution: 'temurin'

      - name: Download settlers-installer-generic
        uses: actions/download-artifact@v4
        with:
          name: settlers-installer-generic
          path: app/build/distributions

      - name: Prepare app-image for JPackage
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          echo --Preparing directories
          mkdir -p app/build/jpackage_input || exit 1
          mkdir -p app/build/resources/jpackage || exit 1
          copy app/src/jpackage/resources/* app/build/resources/jpackage
          Push-Location app/build/jpackage_input
          unzip ../distributions/*.zip
          Pop-Location

      - name: Check after preparation for JPackage
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          echo --Checking directories...
          Get-ChildItem -Recurse app/build/jpackage_input
          Get-ChildItem -Recurse app/build/distributions
          Get-ChildItem -Recurse app/build/resources

      - name: Create app-image using JPackage
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          $JAVA_HOME=[System.Environment]::GetEnvironmentVariable("JAVA_HOME_25_${env:RUNNER_ARCH}")
          & ${JAVA_HOME}\bin\jpackage --version
          & ${JAVA_HOME}\bin\jpackage `
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} `
            --type app-image `
            --dest app/build/app-image `
            -i "app/build/jpackage_input/app-${{ needs.semver.outputs.GITVERSION_SEMVER }}/lib" `
            --main-jar "app-${{ needs.semver.outputs.GITVERSION_SEMVER }}.jar" `
            --main-class settlers.installer.App `
            --name SettlersRemake `
            --app-version "${{ needs.semver.outputs.APP_VERSION_WINDOWS }}" `
            --description 'Settlers 3 remake - see https://github.com/HiranChaudhuri/settlers-installer' `
            --vendor Hiran `
            --icon "app/src/main/resources/images/siedler3-helme-logo.ico" `
            --resource-dir "app/build/resources/jpackage" `
            --jlink-options "--strip-debug --no-man-pages --no-header-files"

      - name: Check after app-image creation
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          echo --Checking directories...
          Get-ChildItem -Recurse app/build/jpackage_input
          Get-ChildItem -Recurse app/build/distributions
          Get-ChildItem -Recurse app/build/resources

      - name: Modify app-image
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          $env:JAVA_HOME=[System.Environment]::GetEnvironmentVariable("JAVA_HOME_17_${env:RUNNER_ARCH}")
          ./gradlew "-Pversion=${{ needs.semver.outputs.GITVERSION_SEMVER }}" --info filterResourcesCopy2 jpackageInterfere

      - name: Check after app-image modification
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          echo --Checking directories...
          Get-ChildItem -Recurse app/build/jpackage_input
          Get-ChildItem -Recurse app/build/distributions
          Get-ChildItem -Recurse app/build/resources

      - name: Build package
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          $JAVA_HOME=[System.Environment]::GetEnvironmentVariable("JAVA_HOME_25_${env:RUNNER_ARCH}")
          & ${JAVA_HOME}\bin\jpackage `
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} `
            --type msi `
            --app-image app/build/app-image/SettlersRemake `
            --dest app/build/distributions `
            --resource-dir app/build/resources/jpackage `
            --win-shortcut

      - name: Check after app-image creation
        run: |
          # PowerShell
          Set-PSDebug -Trace 1
          echo --Checking directories...
          Get-ChildItem -Recurse app/build/jpackage_input
          Get-ChildItem -Recurse app/build/distributions
          Get-ChildItem -Recurse app/build/resources

      - uses: actions/upload-artifact@v4
        with:
          name: SettlersRemake-Windows
          path: app/build/distributions/*.msi

  package-MacOS:
    needs:
      - semver
      - build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDKs
        uses: actions/setup-java@v3
        with:
          java-version: |
            17
            25
          distribution: 'temurin'

      - name: Download settlers-installer-generic
        uses: actions/download-artifact@v4
        with:
          name: settlers-installer-generic
          path: app/build/distributions

      - name: Check after download
        run: |
          find .

      - name: Prepare app-image using JPackage
        run: |
          set -x
          echo --Preparing directories
          mkdir -p app/build/jpackage_input || exit 1
          mkdir -p app/build/resources/jpackage || exit 1
          cp app/src/jpackage/resources/* app/build/resources/jpackage

      - name: Check after prepare app-image
        run: |
          find .

      - name: Create app-image using JPackage
        run: |
          set -x
          pushd .;cd app/build/jpackage_input;unzip ../distributions/*.zip;popd
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_25_${RUNNER_ARCH}
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage --version
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage \
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} \
            --type app-image \
            --dest app/build/app-image \
            -i "app/build/jpackage_input/app-${{ needs.semver.outputs.GITVERSION_SEMVER }}/lib" \
            --main-jar "app-${{ needs.semver.outputs.GITVERSION_SEMVER }}.jar" \
            --main-class settlers.installer.App \
            --name SettlersRemake \
            --app-version "${{ needs.semver.outputs.APP_VERSION_MACOS }}" \
            --description 'Settlers 3 remake - see https://github.com/HiranChaudhuri/settlers-installer' \
            --vendor Hiran \
            --resource-dir "app/build/resources/jpackage" \

      - name: Check after create app-image
        run: |
          find .

      - name: Modify app-image
        run: |
          set -x
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_17_${RUNNER_ARCH}
          JAVA_HOME=${!JAVA_HOME_ENV_VAR_NAME} ./gradlew -Pversion=${{ needs.semver.outputs.GITVERSION_SEMVER }} --info filterResourcesCopy2 jpackageInterfere

      - name: Check after modify app-image
        run: |
          find .

      - name: Build package
        run: |
          set -x
          JAVA_HOME_ENV_VAR_NAME=JAVA_HOME_25_${RUNNER_ARCH}
          ${!JAVA_HOME_ENV_VAR_NAME}/bin/jpackage \
            ${{ needs.semver.outputs.JPACKAGE_VERBOSE_OPTION }} \
            --app-image app/build/app-image/SettlersRemake.app \
            --dest app/build/distributions \
            --resource-dir app/build/resources/jpackage

      - name: Check after build package
        run: |
          find .

      - uses: actions/upload-artifact@v4
        with:
          name: SettlersRemake-MacOS
          path: app/build/distributions/*.dmg

  download-artifacts:
    needs:
      - semver
      - package-Windows
      - package-Debian
      - package-MacOS
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
